@use "./../../../utilities/sass/variables.scss" as var;

h1 {
  color: var.$texto-principal;
  padding-top: 2px;
  padding-bottom: 66.5px;
}

mat-spinner{
  width: 50px !important;
  height: 50px !important;
}
