/* colores */
/*#0*/
$bg-principal: #09090b;
$texto-principal: #ffffff;
$primario: #22c55e;
$borde-principal: #202020;
$texto-secundario: #cfcfcf;
$bg-secundario: #0f0f12;
$peligro: #5d1416;

/* fuentes */
$fuente-principal: "Poppins", serif;
$fuente-secundaria: "Geist", serif;
