<div class="overflow-x-auto">
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="text-start">ID</th>
        <th class="text-start">Nombre</th>
        <th class="text-start">Estado</th>
        <th class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (simulation of simulations; track $index) {
      <tr>
        <td [routerLink]="['/simulation/', simulation.id]">{{ simulation.id }}</td>
        <td [routerLink]="['/simulation/', simulation.id]">{{ simulation.name | titlecase }}</td>
        <td [routerLink]="['/simulation/', simulation.id]">
          @if(simulation.state === "RUNNING"){
          <div class="flex justify-start items-center">
            <div class="wave-container">
              <svg
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="10"
                  fill="#22C55E"
                  fill-opacity="0.4"
                />

                <circle
                  class="wave-1"
                  cx="50"
                  cy="50"
                  r="10"
                  fill="none"
                  stroke="#22C55E"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
                <circle
                  class="wave-2"
                  cx="50"
                  cy="50"
                  r="10"
                  fill="none"
                  stroke="#22C55E"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
                <circle
                  class="wave-3"
                  cx="50"
                  cy="50"
                  r="10"
                  fill="none"
                  stroke="#22C55E"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
              </svg>
            </div>
            <span>En ejecución</span>
          </div>
          }@else {
          <div class="flex justify-start items-center">
            <div class="wave-container2">
              <svg
                width="70"
                height="70"
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="10"
                  fill="#FFC457"
                  fill-opacity="0.4"
                />

                <circle
                  class="wave-1"
                  cx="50"
                  cy="50"
                  r="10"
                  fill="none"
                  stroke="#FFC457"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
              </svg>
            </div>
            <span>Suspendido</span>
          </div>
          }
        </td>
        <td>
          <div class="flex justify-end items-center space-x-2">
            @if (simulation.state === "RUNNING") {
            <button
              (click)="stoppedSimulation(simulation.id)"
              class="btn-pause"
            >
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="9.5"
                  fill="#09090B"
                />
                <rect
                  x="0.5"
                  y="0.5"
                  width="35"
                  height="35"
                  rx="9.5"
                  stroke="#202020"
                />
                <path
                  d="M13 13C13 12.779 13.0878 12.567 13.2441 12.4107C13.4004 12.2545 13.6123 12.1667 13.8333 12.1667H15.5C15.721 12.1667 15.933 12.2545 16.0893 12.4107C16.2455 12.567 16.3333 12.779 16.3333 13V23C16.3333 23.221 16.2455 23.433 16.0893 23.5892C15.933 23.7455 15.721 23.8333 15.5 23.8333H13.8333C13.6123 23.8333 13.4004 23.7455 13.2441 23.5892C13.0878 23.433 13 23.221 13 23V13Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M19.6667 13C19.6667 12.779 19.7545 12.567 19.9107 12.4107C20.067 12.2545 20.279 12.1667 20.5 12.1667H22.1667C22.3877 12.1667 22.5996 12.2545 22.7559 12.4107C22.9122 12.567 23 12.779 23 13V23C23 23.221 22.9122 23.433 22.7559 23.5892C22.5996 23.7455 22.3877 23.8333 22.1667 23.8333H20.5C20.279 23.8333 20.067 23.7455 19.9107 23.5892C19.7545 23.433 19.6667 23.221 19.6667 23V13Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            }@else {
            <button (click)="startSimulation(simulation.id)" class="btn-play">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="36" height="36" rx="10" fill="#22C55E" />
                <path
                  d="M13.8334 11.3333V24.6667L24.6667 18L13.8334 11.3333Z"
                  stroke="#09090B"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            }
            <button (click)="openDialog(simulation.id)" class="btn-delete">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="36"
                  height="36"
                  rx="10"
                  fill="#DC2626"
                  fill-opacity="0.4"
                />
                <path
                  d="M11.3334 13.8333H24.6667M16.3334 17.1667V22.1667M19.6667 17.1667V22.1667M12.1667 13.8333L13 23.8333C13 24.2754 13.1756 24.6993 13.4882 25.0118C13.8008 25.3244 14.2247 25.5 14.6667 25.5H21.3334C21.7754 25.5 22.1993 25.3244 22.5119 25.0118C22.8244 24.6993 23 24.2754 23 23.8333L23.8334 13.8333M15.5 13.8333V11.3333C15.5 11.1123 15.5878 10.9004 15.7441 10.7441C15.9004 10.5878 16.1124 10.5 16.3334 10.5H19.6667C19.8877 10.5 20.0997 10.5878 20.256 10.7441C20.4122 10.9004 20.5 11.1123 20.5 11.3333V13.8333"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </td>
      </tr>
      }@empty {
      <tr>
        <td colspan="4" class="table-empty">
          <span>No hay simulaciones...</span>
        </td>
      </tr>
      }
      <!-- <tr>
        <td>ADLKNAMDAMNADLKNAMDAMADLKNAMDAM.ID</td>
        <td>Simulacion 2</td>
        <td>
          <div class="flex justify-start items-center">
            <div class="wave-container2">
              <svg
                width="70"
                height="70"
                viewBox="0 0 100 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="10"
                  fill="#FFC457"
                  fill-opacity="0.4"
                />

                <circle
                  class="wave-1"
                  cx="50"
                  cy="50"
                  r="10"
                  fill="none"
                  stroke="#FFC457"
                  stroke-opacity="0.4"
                  stroke-width="2"
                />
              </svg>
            </div>
            <span>Suspendido</span>
          </div>
        </td>
        <td>
          <div class="flex justify-end items-center space-x-2">
            <button class="btn-play">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="36" height="36" rx="10" fill="#22C55E" />
                <path
                  d="M13.8334 11.3333V24.6667L24.6667 18L13.8334 11.3333Z"
                  stroke="#09090B"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <button class="btn-delete">
              <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  width="36"
                  height="36"
                  rx="10"
                  fill="#DC2626"
                  fill-opacity="0.4"
                />
                <path
                  d="M11.3334 13.8333H24.6667M16.3334 17.1667V22.1667M19.6667 17.1667V22.1667M12.1667 13.8333L13 23.8333C13 24.2754 13.1756 24.6993 13.4882 25.0118C13.8008 25.3244 14.2247 25.5 14.6667 25.5H21.3334C21.7754 25.5 22.1993 25.3244 22.5119 25.0118C22.8244 24.6993 23 24.2754 23 23.8333L23.8334 13.8333M15.5 13.8333V11.3333C15.5 11.1123 15.5878 10.9004 15.7441 10.7441C15.9004 10.5878 16.1124 10.5 16.3334 10.5H19.6667C19.8877 10.5 20.0997 10.5878 20.256 10.7441C20.4122 10.9004 20.5 11.1123 20.5 11.3333V13.8333"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
